# Environment Variables
# Set to true to use mock authentication, false to use API
VITE_USE_MOCK_AUTH=true

# Set to true to use mock API client, false to use real API
VITE_USE_MOCK_API=true

# API URLs
VITE_API_URL=http://localhost:8001/api 